<meta charset="utf-8">
<title>CORS Chatroom | A Cross Orgin Chatting Application</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">